#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffe5b4;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#popup-btn, #again-btn {
  background-color: #f6a192;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: none;
  outline: none;
}

#heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-size: 48px;
  opacity: 0;
  animation: heart-pop 0.5s forwards;
}

#message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  animation: message-appear 0.5s forwards;
}

#yes-btn,
#already-yours-btn {
  background-color: lightblue;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin: 10px;
  border: none;
  outline: none;
}

@keyframes heart-pop {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes message-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
